---
import ExternalLink from './ExternalLink.astro';
import ImageCarousel from './ImageCarousel.astro';
import { PROJECTS } from './ProjectList.astro';
---

{
  PROJECTS.map(({ link, image, title, description, tags }) => (
    <article class="mb-20">
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>

      {image.length > 1 ? (
        <ImageCarousel>
          {image.map((img, index) => (
            <div class="" data-carousel-item="active">
              <img
                src={img}
                class="w-full h-full object-cover"
                alt={`Captura ${index + 1} del proyecto ${title}`}
              />
            </div>
          ))}
        </ImageCarousel>
      ) : (
        <img
          class="rounded shadow-2xl shadow-white/10 mb-8"
          src={image[0]}
          alt={`Captura de pantalla del proyecto ${title}`}
        />
      )}

      {link && <ExternalLink href={link}>Ver sitio...</ExternalLink>}
    </article>
  ))
}
