---
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description: string;
  keywords: string;
  image: string;
}

const { description, title, keywords, image } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content={keywords} />
    <meta name="generator" content={Astro.generator} />

    <!-- FavIcon -->
    <link
      rel="icon"
      type="image/png"
      href="/my-favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/my-favicon/favicon.svg" />
    <link rel="shortcut icon" href="/my-favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/my-favicon/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Delio Díaz" />
    <link rel="manifest" href="/my-favicon/site.webmanifest" />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://deliodiaz.dev" />
    <meta property="og:image" content={image} />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <meta name="twitter:site" content="@deliodiaz07" />
    <title>{title}</title>
  </head>
  <body class="relative">
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full
            bg-white dark:bg-neutral-950
            bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;

    --text-primary: 67 56 202;
    --text-secondary: 99 102 241;
    --accent: 79 70 229 / 0.6;
  }

  .dark {
    --text-primary: 56 189 248 / 0.9;
    --text-secondary: 56 189 248;
    --accent: 147 197 253 / 0.7;
  }
  html {
    font-family: 'Onest Variable', system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    /* background: rgba(17, 17, 17, 0.9); */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #1f2937;
  }

  .dark body {
    color: #ffffff;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
